# AWS / LocalStack
AWS_ACCESS_KEY_ID=test
AWS_SECRET_ACCESS_KEY=test
AWS_REGION=us-east-1
LOCALSTACK_ENDPOINT=http://localhost:4566
S3_BUCKET_NAME=cloud-photo-bucket

# API
API_HOST=0.0.0.0
API_PORT=8000

# Grafana
GRAFANA_ADMIN_USER=admin
GRAFANA_ADMIN_PASSWORD=CHANGE_ME

# Prometheus
PROMETHEUS_SCRAPE_INTERVAL=15s